---
name: lint

on:
- push

jobs:
  check-pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: |
          pip install --requirement ./devcontainer/requirements.txt
          pre-commit run --all-files
